@import url("Variables.uss");
@import url("Common.uss");
@import url("HUD.uss");
@import url("Shelf.uss");
@import url("Roulette.uss");
@import url("Navigation.uss");
@import url("SideBar.uss");

.main-screen {
    flex-grow: 1;
    background-color: var(--color-bg-main);
    color: var(--color-text-primary);
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
