@import url("Variables.uss");

.side-bar-panel {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Base class for offer elements */
.side-bar-offer {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    background-color: var(--color-bg-panel);
    border-radius: 12px;
    border-width: 2px;
    border-color: var(--color-border);
}
